p,h2,h1, ol {
    margin : 0;
    padding: 0;
}

li {
    list-style-type: none;
}

body {
    background-color: #333;
    color:#666;
}

.wrapper{
    width: 800px;
    margin: 0 auto;
}

.title{
    text-align: center;
    color: green;
    font-size: 80px;
    letter-spacing: 0.1em;
    text-indent: 0.2em;
    padding: 50px 0;
}

.chart{
    background-color: #aaa;
    overflow: hidden;
}

.chart-item {
    background-color: white;
    margin: 40px;
    height: 80px;
    position: relative;
    counter-increment: rank;
}

.album {
    position: absolute;
    background-color: rgba(255,255,255,0.3);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all .5s;
}


.album:hover{
    background-color: white;
    margin: -20px;
    overflow: hidden;

}

.album:before {
    content:counter(rank);
    font-size: 50px;
    padding: 10px;
    width: 1em;
    text-align: right;
    margin-right: 0.25em;
    font-weight: bold;
    font-style: italic;
    float: left;
}

.album-cover {
    float:right;
    height: 100%;
    position: relative;
    z-index: 1;
}

.album-contents {
    overflow: hidden;
    padding: 15px;

}

.album:hover .album-disc {
    right: 60px;
    transition-delay: 1s;
}
.album-disc {
    position: absolute;
    right:0;
    top:0;
    height: 100%;
    animation-name: spin;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: right .2s;

}

.album-description {
    margin-top:10px;
    opacity:0;
    transition: opacity .5;
}

.album:hover .album-description {
    opacity:1;
}
.album:hover:before {
    color:deeppink;
}

@keyframes spin {
    100% {
        transform: rotate(360deg)
    }
}





